@use 'partial';

@mixin hr ($hr: Black) {
  height: 2px;
  background-color: $hr;
  margin-top: 0px;
} 

#new-tweet-container {
  margin-top: 50px;  
  width: 90%;

  form{
    border: none;  
    width: 100%;  
    font-size: 20px; 
  }
  
  hr {
    @include hr;
  }  
  
  #tweet-text{
    outline: none;
    border: none;
    resize: none;
    margin-top: 15px;
    background-color: transparent;
    width: 100%;
    height: 25px;
    align-content: flex-end;
  }
  
  .submit-counter-box {
    display: flex;
    justify-content: space-between;
  }
  
  button {
    font-family: partial.$primary-font;
    background-color: #4056A1;
    color: white;
    border: none;
    height: 40px;
    padding: 5px 10px 5px 10px;

    &:hover {
      box-shadow:
        4px 4px 1px #df761a,
        /* Outer outline */
        inset 4px 2px #df761a;
      /* Inner shadow */
    }
  }
    
  .counter {  
    font-family: partial.$primary-font;
  }
  
  .invalid {
    color: red;
  }
  
  .error-message {
    display: flex;
    justify-content: Center;
    background-color: none;
    color: #f10b0bed;
    border: none;
    padding: 5px 0 5px 0;
    margin: 10px;
  }
}

/* Second-Tweet ---------------------------------------------------------------------- */

#tweet-container{
  width: 90%;

  article{
    box-sizing: border-box;
    align-content: flex-end;
    margin-top: 50px;
    border: 3px solid #545149;
    max-height: fit-content;
    width: 100%;
    padding: 0px 20px;
    margin-bottom: 15px;

    &:hover {
      box-shadow:
        4px 4px 1px #4056A1,
        /* Outer outline */
        inset 4px 2px #4056A1;
      /* Inner shadow */
    }
  }
  
  header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    padding: 10px;
    margin-bottom: 0px;
  }
  
  .user-icons {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    height: 50px;

    img {
      display: flex;
      margin-right: 8px;
      height: 40px;
      width: 40px;
    }

    p {
      margin-top: 8px;
    }

    &:hover {  
      color:coral;
    }
  }

  .user-name {
    display: flex;
    align-items: center;
    font-size: medium; 
    margin-top: 16px;
  }
  
  .user-handle {
    opacity: 0.4;
    color:#4056A1;
    font-size: medium;
  }
  
  .tweet-content {
    font-size: medium;
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
  }

  hr {
    @include hr;
  }    
  
  .text{
    margin: 9px 0 9px 0;
    width: 100%;
    word-wrap: break-word;
    overflow: visible;
  }
  
  .tweet-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: medium;
  }
  
  .hover-icons i:hover {  
    color:coral;
  }  
}