body {
  font-family: "Bungee", sans-serif;
  font-family: "Source sans 3", sans-serif;
}

#new-tweet-container {
  margin-top: 50px;
  width: 90%;
}
#new-tweet-container form {
  border: none;
  width: 100%;
  font-size: 20px;
}
#new-tweet-container hr {
  height: 2px;
  background-color: Black;
  margin-top: 0px;
}
#tweet-text {
  outline: none;
  border: none;
  resize: none;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: transparent;
  width: 100%;
  height: 25px;
  align-content: flex-end;
}
.submit-counter-box {
  display: flex;
  justify-content: space-between;
}
#new-tweet-container button {
  font-family: "Bungee", sans-serif;
  background-color: #4056A1;
  color: white;
  border: none;
  height: 40px;
  padding: 5px 10px 5px 10px;
}
#new-tweet-container button:hover {
  box-shadow: 4px 4px 1px #df761a, inset 4px 2px #df761a;
  /* Inner shadow */
}
.counter {
  font-family: "Bungee", sans-serif;
}
.invalid {
  color: red;
}
.error-message {
  display: flex;
  justify-content: Center;
  background-color: none;
  color: rgba(241, 11, 11, 0.9294117647);
  border: none;
  padding: 5px 0 5px 0;
  margin: 10px;
}

/* Second-Tweet ---------------------------------------------------------------------- */
#tweet-container {
  width: 90%;
}
#tweet-container article {
  box-sizing: border-box;
  align-content: flex-end;
  margin-top: 50px;
  border: 3px solid #545149;
  max-height: fit-content;
  width: 100%;
  padding: 0px 20px;
  margin-bottom: 15px;
}
#tweet-container article:hover {
  box-shadow: 4px 4px 1px #4056A1, inset 4px 2px #4056A1;
  /* Inner shadow */
}
#tweet-container header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start;
  padding: 10px;
  margin-bottom: 0px;
}
.user-icons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  height: 50px;
}
.user-icons img {
  display: flex;
  margin-right: 8px;
  height: 40px;
  width: 40px;
}
.user-icons p {
  margin-top: 8px;
}
.user-icons:hover {
  color: coral;
}
.user-name {
  display: flex;
  align-items: center;
  font-size: medium;
  margin-top: 16px;
}
.user-handle {
  opacity: 0.4;
  color: #4056A1;
  font-size: medium;
}
.tweet-content {
  font-size: medium;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
#tweet-container hr {
  height: 2px;
  background-color: Black;
  margin-top: 0px;
}
.text {
  margin: 9px 0 9px 0;
  width: 100%;
  word-wrap: break-word;
  overflow: visible;
}
.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
}
.hover-icons i:hover {
  color: coral;
}

#scroll-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: #4056A1;
  border: none;
  border-radius: 50%;
  color: white;
  font-size: 20px;
  cursor: pointer;
}
#scroll-button:hover {
  background-color: rgb(214, 33, 33);
}
