#new-tweet-container form{
  border: none;
}

hr {
  height: 2px;
  background-color: #545149;
  margin-top: 0px;
}

#tweet-text{
  outline: none;
  border: none;
  resize: none;
  margin-top: 15px;
  background-color: transparent;
  width: 100%;
  height: 25px;
  align-content: flex-end;
}

#new-tweet-container button {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: white;
  border: none;
  height: 40px;
  padding: 5px 10px 5px 10px;
}

.submit-counter-box {
  display: flex;
  justify-content: space-between;
}

.counter {  
  font-family: 'Bungee', sans-serif;
}

.invalid {
  color: red;
}

/* Second-Tweet */

#tweet-container article{
  margin-top: 50px;
  border: 3px solid #545149;
  height: 150px;
  width: 25em;
  padding: 0px 20px;
  margin-bottom: 15px;
}

#new-tweet-container #tweet:hover {
  box-shadow:
    4px 4px 1px #df761a,
    /* Outer outline */
    inset 4px 2px #df761a;
  /* Inner shadow */
}

#tweet-container article:hover {
  box-shadow:
    4px 4px 1px #4056A1,
    /* Outer outline */
    inset 4px 2px #4056A1;
  /* Inner shadow */
}

#tweet-container header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  margin-bottom: 0px;
}

.user-icons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  height: 50px;
}

.user-icons img {
  display: flex;
  margin-right: 8px;
  height: 40px;
  width: 40px;
}

.user-icons p {
  margin-top: 8px;
}

.user-name {
  display: flex;
  align-items: center;
  font-size: medium; 
  margin-top: 16px;
}

.user-handle {
  opacity: 0.4;
  color:#4056A1;
  font-size: medium;
}

.tweet-content {
  font-size: medium;
}

.tweet-content p{
  margin: 9px 0 9px 0;
}

.tweet-content h4{
  margin: 9px 0 9px 0;
}

.tweet-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: medium;
}

.hover-icons i:hover {  
  color:coral;
}

.user-icons:hover {  
  color:coral;
}
