/* For smartphone view */
@media only screen and (max-width: 600px) {
  nav {
    background-color: #ff9100;
    background-image: url("https://www.transparenttextures.com/patterns/dark-leather.png");
    padding-right: 10px;
    padding-left: 10px;
  }
  .main-header img {
    margin-top: 100px;
  }
}
/* For Tablet view */
@media only screen and (min-width: 601px) and (max-width: 1023px) {
  nav {
    background-color: #00ffbf;
    color: black;
    padding-right: 10px;
    padding-left: 10px;
  }
}
/* For Desktop view */
@media only screen and (min-width: 1024px) {
  .body-content {
    display: flex;
    flex-direction: row;
  }
  .body-content .main-header {
    width: 23.5%;
    margin: 80px 0 0 10px;
  }
  .body-content .container {
    width: 77%;
    margin-top: 30px;
  }
  .body-content .container #new-tweet-container {
    margin-top: 80px;
    width: 90%;
  }
  .body-content .container .user-icons img {
    display: flex;
    margin-right: 8px;
    height: 20px;
    width: 30px;
  }
}
